html {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 768px) {
  html {
    
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: sticky;
  top: 0;
  overflow: hidden;
  z-index: 1;
  backdrop-filter: saturate(1.8) blur(20px);
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  width: 100%;
  position: relative;
  padding: 10px 0;
  bottom: 0;
  margin-top: auto;
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.light-c-font {
  color: rgba(0,0,0,.55) !important;
}

.main-content {
  z-index: 0;
}

.surname{
  color: rgba(0, 0, 0, 0.7) !important;
}

.lh {
  line-height: 1.3; /* Aumenta l'altezza della riga a 1.8 volte la dimensione del font */
}

.gradient {
  background: linear-gradient(to bottom right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5), rgba(93, 91, 91, 0.7));
  /*background: linear-gradient(to bottom right, rgb(33, 37, 41), rgba(72, 71, 71, 0.7), rgba(93, 91, 91, 0.7));*/
  -webkit-background-clip: text; /* Per Safari */
  color: transparent; /* Imposta il colore del testo a trasparente */
}

.b-bord {
  border-bottom: 1px solid rgba(205, 197, 197, 0.7);
}

.t-bord {
  border-top: 1px solid rgba(205, 197, 197, 0.7);
}

.light-c {
  color: rgba(130, 127, 127, 0.7);
  letter-spacing: 1.5px;
}

.link-b {
  color: rgba(0, 0, 0, 0.7) !important;
  text-decoration: none;
}

.link-b:hover {
  color: rgba(0, 0, 0, 0.8) !important;
  text-decoration: none;
}

.link-d {
  color: rgba(0, 0, 0, 0.55) !important;
  text-decoration: none;
}

.link-d:hover {
  color: rgba(0,0,0,.7) !important;
}

.neutral-pills {
  background: linear-gradient(135deg, #7ED321, #4C9F70); /* Apple green gradient */
  width: 200px;
  height: 60px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.apple-pill {
  margin-top: 1rem;
  padding: 8px 20px;
  /*border-radius: 5px;*/
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.7) !important;
  display: inline-block;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(205, 197, 197, 0.7);
}

.apple-pill:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.8) !important;
}

.apple-pill-content {
  letter-spacing: 1px;
  text-transform: uppercase;
}

.date {
  color: rgba(130, 127, 127, 0.7);
}

.leaflet-tile-pane {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.big-title {
  font-size: 4rem;
}

.lh-less {
  line-height: 0.9; 
}

.circle {
  list-style-type: circle;
}

.pic1 {
  background-color: red;
  height: 7rem;
  aspect-ratio: 1/1;
}

.card-top {
  border-radius: 10px;
  background: linear-gradient(to bottom, rgba(244, 241, 241, 0.1), rgba(215, 213, 213, 0.1));
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(205, 197, 197, 0.1);
}

.card-t {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(205, 197, 197, 0.1);
}