@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<h2 class="lh gradient pb-3">
    Simone is a passionate Computer Science student specializing in full-stack development, building websites and
    applications that deliver seamless, engaging user experiences.
    While new to the field of artificial intelligence, he is eager to dive into machine learning and deep learning, with
    plans to apply these technologies to real-world projects in the future.
</h2>
<hr>
<p class="light-c pt-1">PROJECTS</p>
@*<div class="elevation bg-primary rounded">
    <h1 class="animated-text">シモネ</h1>
</div>*@
